@import 'variables.scss';

.linkButtons {
    width: 80%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.btnAgregarCarrito {
    border: none;
    border-radius: 0.5rem;
    background: #76bdff;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    color: white;
    transition: all 0.3s ease;

    &:hover {
        background: #0084ff;
    }
}


.goToCartButton {
    border: 1px solid aliceblue;
    border-radius: .5rem;
    background: $colorPrimario;
    color: $blanco;
    padding: .5rem 1rem;
    transition: all .3s ease;

    &:hover {
        background: aliceblue;
        color: $colorPrimario;
    }
}