@import 'variables.scss';

.noItemsInCart {
    @include medidas(100%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;

    h2 {
        margin: 0 0 2rem 0
    }
}

.cart {
    @include medidas(100%, 100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;

    h2 {
        font-size: 2rem;
    }
}

.cartDetail {
    @include medidas(100%, 90%);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.cartProducts {
    @include medidas(50%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 1rem;
    overflow-y: auto;
    border-radius: .5rem;
    box-shadow: inset 0px 0px 10px $colorTerciario;


    &::-webkit-scrollbar {
        @include medidas(10px, 100%);
        border-radius: .5rem;
        background-color: $colorSecundario;
        box-shadow: -2px 0px 5px $colorTerciario;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: .5rem;
        background-color: $colorTerciario;
    }
}

.cartProduct {
    @include medidas(90%, 40%);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5% 0;

    .productImgCont {
        @include medidas(50%, 100%);
        display: flex;
        align-items: center;
    }

    img {
        @include medidas(100%, 100%);
        object-fit: contain;
    }

    .productDetail {
        @include medidas(80%, 100%);
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            font-size: 2rem;
        }
    }

    button {
        background: transparent;
        border: 2px solid $colorTerciario;
        border-radius: .5rem;
        padding: .5rem;
        font-weight: 600;
        color: $colorTerciario;
        transition: all .3s ease;

        &:hover {
            color: $colorPrimario;
            background: $colorTerciario;
            cursor: pointer;
        }
    }
}

.cartGeneralDetail {
    @include medidas(45%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0 0 2rem 0;
    }
}

.btnEmptyCart {
    @include medidas(40%, 3rem);
    background: transparent;
    border: 2px solid $colorSecundario;
    border-radius: .5rem;
    color: $colorSecundario;
    font-size: 1.2rem;
    transition: all .3s ease;

    &:hover {
        color: $colorPrimario;
        background: $colorSecundario;
        cursor: pointer;
    }
}

.buyCartForm {
    @include medidas(100%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    div {
        @include medidas(100%, 12%);

    }

    input {
        @include medidas(100%, 100%);
        border: 2px solid $colorTerciario;
        border-radius: .5rem;
        padding: .5rem;
        font-size: 1.2rem;
        transition: all .3s ease;

        &:focus {
            border: 2px solid $colorSecundario;
            outline: none;
        }
    }

    button {
        @include medidas(50%, 3rem);
        background: transparent;
        border: 2px solid $colorTerciario;
        border-radius: .5rem;
        color: $colorTerciario;
        font-size: 1.2rem;
        transition: all .3s ease;

        &:hover {
            color: $colorPrimario;
            background: $colorTerciario;
            cursor: pointer;
        }
    }
}

.goToCartButton {
    width: 60%;
    border: 2px solid $colorSecundario;
    border-radius: .5rem;
    background: $colorPrimario;
    color: $colorSecundario;
    font-size: 1.3rem;
    font-weight: 700;
    padding: .5rem 1rem;
    transition: all .3s ease;

    &:hover {
        background: $colorSecundario;
        color: $colorPrimario;
        cursor: pointer;
    }
}