@import './variables.scss';

.cartWidget {
  @include medidas(100%, 2rem);
  display: flex;
  justify-content: flex-start;

  &:hover {
    cursor: pointer;
  }

  a {
    @include medidas(100%, 100%);
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $colorPrimario;

    &:hover>p {
      border-bottom: 2px solid $colorPrimario;
    }
  }

  p {
    margin: 0 0 0 2rem;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
  }

  div {
    position: relative;
  }
}

.cartIcon {
  color: $colorPrimario;
  @include medidas(2rem, 2rem);
}

.cartIconSpan {
  position: absolute;
  top: -25%;
  right: -40%;
  @include medidas(1.5rem, 1.5rem);
  background: $colorTerciario;
  color: $colorPrimario;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}