@import './variables.scss';

.cartWidget {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: flex-start;

  &:hover {
    cursor: pointer;
  }
}

.cart {
  color: white;
  @include medidas(2rem, 2rem);
}