@import 'variables.scss';

.goToCartButton {
    border: 1px solid aliceblue;
    border-radius: .5rem;
    background: $colorPrimario;
    color: $blanco;
    padding: .5rem 1rem;
    transition: all .3s ease;

    &:hover {
        background: aliceblue;
        color: $colorPrimario;
    }
}