@import 'variables.scss';

.itemList {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 2rem 0;

  @include mobile {
    @include medidas(100%, auto);
    padding: 0 0 5rem 0;
  }
}