@import 'variables.scss';

.listContainer {
  @include medidas(100%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    @include medidas(10px, 100%);
    border-radius: .5rem;
    background-color: $colorSecundario;
    box-shadow: -2px 0px 5px $colorTerciario;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: $colorTerciario;
  }

}

.listContainerContent {
  @include medidas(100%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    @include mobile {
      margin-bottom: 1rem;
    }
  }
}

.itemListContainerLoader {
  @include medidas(100%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}