@import 'variables.scss';

.itemDetail {
    @include medidas(100%, 100%);
    color: $colorSecundario;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;

    @include mobile {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

.detailImgContainer {
    @include medidas(100%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 60%;
        border-radius: 1rem;
        object-fit: cover;

        @include mobile {
            width: 90%;
        }
    }
}

.detailDataContainer {
    @include medidas(100%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid white;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 1px 1px 7px $colorTerciario;

    @include mobile {
        @include medidas(90%, 100%);
        margin: 1rem 0 0 0;
        padding: .5rem;
    }

    h2 {
        @include medidas(100%, 100%);
        font-size: 2rem;
    }

    .detailDataGenre,
    .detailDataPrice {
        @include medidas(100%, 20%);
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;

        @include mobile {
            flex-direction: row;

        }

        span {
            font-weight: 600;
            margin: 0 .5rem 0 0;
        }
    }

}