@import 'variables.scss';

.itemDetail {
    @include medidas(100%, 100%);
    color: $colorSecundario;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.detailImgContainer {
    @include medidas(40%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 80%;
        border-radius: 1rem;
        object-fit: cover;
    }
}

.detailDataContainer {
    @include medidas(40%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid white;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 1px 1px 7px $colorTerciario;


    h2 {
        @include medidas(100%, 20%);
        font-size: 2rem;
    }

    .detailDataGenre,
    .detailDataPrice {
        @include medidas(100%, 20%);
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;

        span {
            font-weight: 600;
        }
    }

}

.linkButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: default;

    &:hover {
        cursor: pointer;
    }
}

.goToCartButton {
    width: 60%;
    border: 2px solid $colorSecundario;
    border-radius: .5rem;
    background: $colorPrimario;
    color: $colorSecundario;
    font-size: 1.3rem;
    font-weight: 700;
    padding: .5rem 1rem;
    transition: all .3s ease;

    &:hover {
        background: $colorSecundario;
        color: $colorPrimario;
        cursor: pointer;
    }
}