@import './variables.scss';

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  margin: 0;
  background: #0c040e;
  transition: all .3s ease-out;
  overflow-x: hidden;
}

.menuDivItems {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 0 0 1.5rem;
}

.marginIcon {
  margin: 0 1rem 0 0;
}

.menu__marca {
  @include medidas(100%, 10%);
  color: white;
  text-decoration: none;

  .menu__marcaDiv {
    @include medidas(100%, 100%);
    display: flex;
    align-items: center;
  }

  .menu__marcaIcon {
    @include medidas(4rem, 50%);
    padding: 0 10% 0 0;
    margin: 0;
  }

  h4 {
    @include medidas(100%, auto);
    color: white;
    margin: 0 0 0 1rem;
  }
}

.user {
  width: 25%;
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.userIcon {
  color: white;
  @include medidas(2rem, 2rem);
  cursor: pointer;
}

.linkUserLogIn {
  text-decoration: none;
  @include medidas(100%, auto);

}

.menu__lista {
  list-style-type: none;
  @include medidas(100%, 40%);
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menuLiIcon {
    color: white;
    @include medidas(2rem, 100%);
    margin: 0 2rem 0 0;
  }

}

.menuNavLinks {
  text-decoration: none;
}

.menu__listaLi {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  div {
    cursor: pointer;
    display: flex;
    align-items: center;
    @include medidas(100%, 100%)
  }

  .menu__listaA {
    width: 50%;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }

  &:hover {
    .menu__listaA {
      border-bottom: 2px solid #5a004e;
    }
  }

  ul {
    @include medidas(100%, 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  a {
    @include medidas(60%, auto);
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;

    li {
      text-align: center;
    }

    &:hover {
      border-bottom: 2px solid #5a004e;

    }
  }

  li {
    @include medidas(100%, auto);
    list-style-type: none;
    transition: all 0.3s ease;
  }
}