@import './variables.scss';

.userProfile {
    @include medidas(100%, 90%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h1 {
        @include medidas(100%, 30%);
        margin: 0 0 5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.orders {
    @include medidas(100%, 70%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h2 {
        margin: 0 0 3rem 0;
    }
}

.ordersContainer {
    @include medidas(100%, 70%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid $colorSecundario;
    border-bottom: 1px solid $colorSecundario;
    overflow-y: auto;
    box-shadow: inset 0px 0px 10px $colorTerciario;


    &::-webkit-scrollbar {
        @include medidas(10px, 100%);
        border-radius: .5rem;
        background-color: $colorSecundario;
        box-shadow: -2px 0px 5px $colorTerciario;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: .5rem;
        background-color: $colorTerciario;
    }
}

.order {
    @include medidas(100%, 100%);
    margin: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid $colorSecundario;
    border-radius: .5rem;
    box-shadow: 2px 2px 5px $colorTerciario;

    ul {
        padding: 1rem;
    }

    li {
        margin: 0 0 .5rem 0;
        list-style-type: none;
    }

    p {
        font-weight: 600;
        padding: 0 0 1rem 1rem
    }
}

.orderAndDate {
    @include medidas(100%, 15%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid $colorSecundario;

    h5 {
        margin: 0 1rem 0 0;
    }
}