// Variables

$blanco:white;
$colorPrimario:#fdfffa;
$colorSecundario:#2B494B;
$colorTerciario:#49919D;

// $colorTerciario:#fdfffa;

@mixin medidas($width, $height) {
  width: $width;
  height: $height;
}

@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin miniMobile {
  @media only screen and (max-width: 575px) {
    @content;
  }
}