// Variables

$blanco:white;
$colorPrimario:#fdfffa;
$colorSecundario:#2B494B;
$colorTerciario:#49919D;

// $colorTerciario:#fdfffa;

@mixin medidas($width, $height) {
  width: $width;
  height: $height;
}