@import './Styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AppContainer {
  @include medidas(100vw, 100vh);
  display: flex;
  background: $colorPrimario;
  color: $blanco;
}

.AppMain {
  @include medidas(82%, 100%);
  display: flex;
  margin: 0 0 0 18%;
  overflow-x: hidden;
  padding-bottom: 2rem;
}