@import './Styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AppContainer {
  @include medidas(100vw, 100vh);
  display: flex;
  background: $colorPrimario;
  color: $colorSecundario;
}

.AppMain {
  @include medidas(94%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 6%;
  overflow-x: hidden;
}

.btnLogOut {
  @include medidas(25%, 5%);

}