@import './Styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AppContainer {
  @include medidas(100vw, 100vh);
  display: flex;
}
.AppMain {
  @include medidas(90%, 100%);
  display: flex;
  margin: 0 0 0 10%;
}
